attrs 
bidict 
boto3 
botocore 
certifi 
chardet 
click 
ConfigArgParse 
dash 
dash-bootstrap-components<1 
dash-core-components 
dash-cytoscape 
dash-daq 
dash-html-components 
dash-renderer 
dash-table 
deepdiff 
Deprecated 
docutils 
Flask 
Flask-Compress 
future 
idna #==2.9
ipaddress 
itsdangerous 
Jinja2 
jmespath 
MarkupSafe 
netconan 
numpy 
ordered-set 
pandas 
passlib 
plotly 
pybatfish==2023.12.16.1270
python-dateutil 
pytz
PyYAML
requests 
requests-toolbelt 
retrying 
s3transfer 
simplejson 
six 
ttp 
urllib3 
Werkzeug 
wrapt 
